<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/mrdoob/three.js/master/examples/js/controls/FirstPersonControls.js"></script> -->
    <!--<script src="https://82mou.github.io/threejs/js/OrbitControls.js"></script>-->

    <script type="module">

        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        camera.position.x = 105.60000000000038;
        camera.position.y = 15;
        camera.position.z = 208.39999999999971;

        camera.rotation.x = 0;
        camera.rotation.y = 1.2799999999999736;
        camera.rotation.z = 0;


        const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.outputEnconding = THREE.sRGBEncoding;
        renderer.physicallyCorrectLights = false;

        document.body.appendChild(renderer.domElement);



        var mouse = new THREE.Vector2();
        var raycaster = new THREE.Raycaster();
        raycaster.setFromCamera(mouse, camera);

        const scene = new THREE.Scene();
        const light = new THREE.PointLight(0xffffff, 1, 220);
        light.position.set(0,50, 50);
        light.rotation.set(0.5, 0.5, 0.5);
        scene.add(light);
        const light2 = new THREE.PointLight(0xffffff, 1, 220);
        light2.position.set(0,50, -50);
        light2.rotation.set(0.5, 0.5, 0.5);
        scene.add(light2);
        const lightAmbiental = new THREE.AmbientLight(0xffffff, 0.85);
        scene.add(lightAmbiental);

        var loader = new THREE.GLTFLoader();
        var guitarra;
        loader.load('../../Assets/3d/hr.gltf', (gltf) => {
            guitarra = gltf.scene;
            guitarra.position.y = 60;
            guitarra.rotation.y = 90;
            guitarra.scale.y += 50;
            guitarra.scale.x += 50;
            guitarra.scale.z += 50;
            scene.add(guitarra);
        });


        loader = new THREE.GLTFLoader();
        var tablero;
        loader.load('../../Assets/3d/tablero.gltf', (gltf) => {
            tablero = gltf.scene;
            // tablero.scale.y += 50;
            tablero.scale.x += 10;
            tablero.scale.z += 10;
            scene.add(tablero);
        });


        function animate() {

            raycaster.setFromCamera(mouse, camera);
            

            animCamera();


            // if (guitarra) guitarra.rotation.y += 0.02;
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        };

        function animCamera() {
            if (camera.position.x > 0) {
                camera.position.x -= 0.5;
            }
            if (camera.position.z > 100) {
                camera.position.z -= 0.5;
            }
            if (camera.rotation.y > 0) {
                camera.rotation.y -= 0.0061;
            }
        }
        function onMouseMove(event) {
            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
        }


        function randomBetween(min, max) {
            return min + Math.floor(Math.random() * (max - min + 1));
        }


        function onDocumentMouseDown(event) {
            event.preventDefault();

            var intersects = raycaster.intersectObjects(scene.children);
            console.log(intersects);
            //camera.position.z += 10;
            if (intersects.length > 0) {

            }
        }

        document.addEventListener('mousedown', onDocumentMouseDown, false);

        animate();
    </script>
</body>

</html>