<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" integrity="sha512-yNJzAsg5JyP91u+sLHlUDULMBd3hmEiVkYeeN1cQBKaLZ7EyT6oH2u5THNIRM2Fu6VKcZJv+F/QAp1h/qzy9Ow==" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script>
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        const renderer = new THREE.WebGLRenderer({ alpha: true });
        
        
        
        var raycaster = new THREE.Raycaster();
        var mouse = new THREE.Vector2();

        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        const geometry = new THREE.BoxGeometry();
        const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });

        const cube = new THREE.Mesh(geometry, material);

        scene.add(cube);

        camera.position.z = 5;

        function animate() {
            requestAnimationFrame(animate);

            cube.rotation.x += 0.01;
            cube.rotation.y += 0.01;

            renderer.render(scene, camera);
        };

        function randomBetween (min, max) {
            return min + Math.floor(Math.random() * (max - min + 1));
        } 

        function onDocumentMouseDown(event) {
            event.preventDefault();

            raycaster.setFromCamera(mouse, camera);
            var intersects = raycaster.intersectObjects(scene.children);

            if (intersects.length > 0) {
                intersects[0].object.rotation.x += 20;
                
                intersects[0].object.material.color.r=randomBetween(0, 255)/100;
                intersects[0].object.material.color.g=randomBetween(0, 255)/100;
                intersects[0].object.material.color.b=randomBetween(0, 255)/100;
            }

        }

        document.addEventListener('mousedown', onDocumentMouseDown, false);

        animate();
    </script>
</body>

</html>